.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-variation-settings: "wdth" 100;
}

.roboto-serif {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
