button {
  --background-color: var(--primary-color);

  cursor: pointer;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  font-weight: bold;

  &.rounded {
    border-radius: 100%;
  }

  &.primary {
    --background-color: var(--primary-color);
    &:hover {
      --background-color: var(--primary-color-lightest);
    }
  }

  &.secondary {
    --background-color: var(--secondary-color);
    &:hover {
      --background-color: var(--secondary-color-lightest);
    }
  }
}
