<div class="container">
  <app-card>
    <app-card-header>
      <h1 class="text-center">Formulario de registro</h1>
    </app-card-header>
    <app-card-body>
      <form [formGroup]="formGroup">
        <div>
          <app-form-field class="w-100">
            <label for="id">ID</label>
            <input formControlName="id" class="w-100" appInputText />
          </app-form-field>
          <app-form-field class="w-100">
            <label for="id">Descripcion</label>
            <input formControlName="description" class="w-100" appInputText />
          </app-form-field>
          <app-form-field class="w-100">
            <label for="id">Fecha de liberacion</label>
            <input
              formControlName="date_release"
              type="date"
              class="w-100"
              valueAsDate
              [min]="dateReleaseMinDate"
              appInputText
            />
          </app-form-field>
        </div>
        <div>
          <app-form-field class="w-100">
            <label for="id">Nombre</label>
            <input formControlName="name" class="w-100" appInputText />
          </app-form-field>
          <app-form-field class="w-100">
            <label for="id">Logo</label>
            <input formControlName="logo" class="w-100" appInputText />
          </app-form-field>
          <app-form-field class="w-100">
            <label for="id">Fecha de revision</label>
            <input
              formControlName="date_revision"
              type="date"
              class="w-100"
              [min]="dateRevisionMinDate"
              valueAsDate
              appInputText
            />
          </app-form-field>
        </div>
      </form>
    </app-card-body>
    <app-card-footer>
      <div class="flex justify-content-center" style="gap: 0.5rem">
        <app-button (onClick)="formGroup.reset()" color="secondary"
          >Reiniciar</app-button
        >
        <app-button
          [loading]="isLoading || formGroupIsPending"
          (onClick)="onSubmit()"
        >
          @if (isLoading) { Guardando } @else if (formGroupIsPending) {
          Validando } @else { Confirmar }
        </app-button>
      </div>
    </app-card-footer>
  </app-card>
</div>
