<div class="app-paginator flex justify-content-between align-items-center">
  <p>{{ totalItems }} resultados</p>
  <div>
    <div class="inline-block mr-2">
      <app-icon-button
        (onClick)="onPrevPage()"
        icon="pi pi-chevron-left"
        [rounded]="true"
        [disabled]="offset === 0"
      ></app-icon-button>
    </div>

    <div class="inline-block mr-2">
      <app-icon-button
        (onClick)="onNextPage()"
        icon="pi pi-chevron-right"
        [rounded]="true"
        [disabled]="!hasNext"
      ></app-icon-button>
    </div>

    <select (change)="onItemsPerPageChange($event)" appInputText>
      @for (option of perPageOptions; track $index) {
      <option [selected]="option === limit" [value]="option">
        {{ option }}
      </option>
      }
    </select>
  </div>
</div>
