<div class="container">
  <div class="flex justify-content-between align-items-center">
    <app-form-field>
      <input
        [disabled]="isLoading"
        #input
        (keyup)="onFilter(input.value)"
        placeholder="Search..."
        appInputText
      />
    </app-form-field>
    <app-button (onClick)="onCreate()" color="primary" [disabled]="isLoading">
      Agregar
    </app-button>
  </div>

  <app-card>
    <app-card-body ngSkipHydration>
      <app-table className="w-100" [data]="filteredProducts" appScrollX>
        <ng-template #header>
          <tr>
            <th>Logo</th>
            <th>Nombre del producto</th>
            <th>Descripción</th>
            <th>Fecha de liberación</th>
            <th>Fecha de restructuración</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-item let-index="index">
          <tr>
            <td>
              <app-avatar [src]="item.logo" [alt]="item.name" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.formatedDateRelease | date : "dd/MM/YYYY" }}</td>
            <td>{{ item.formatedDateRevision | date : "dd/MM/YYYY" }}</td>
            <td>
              <app-popup-menu #menu [menu]="getPopupMenuItems(item)" />
              <app-icon-button
                (onClick)="menu.toggle($event)"
                icon="pi pi-ellipsis-v"
                [rounded]="true"
              />
            </td>
          </tr>
        </ng-template>
      </app-table>
      @if (isLoading) {
      <div class="flex justify-content-center py-5">
        <app-spinner />
      </div>
      } @else {
      <app-paginator
        [totalItems]="products.length"
        [totalFilteredItems]="filteredProducts.length"
        (perPageChange)="onPerPageChange($event)"
      />
      }
    </app-card-body>
  </app-card>
</div>
